@charset "utf-8";

//--------------------------------------------------------------------------------------------------
//
//  backlogを見やすくする
//
//--------------------------------------------------------------------------------------------------
#container{
    border: 1px solid #ccc;
    border-width: 0 1px;
    max-width: 1200px;
    margin: 0 auto;
}

#mainTitle{
    font-size: 1.7em;
    padding-bottom: 8px;
    margin-bottom: 0.6em;

    #copyKey-help{
        display: none !important;
    }

    .Help-btn{
        display: none;
    }
}

#rss{
    display: none;
}

.Page--view-issue{
    #bodyLeft{
        .subMenu{
            display: none;
        }

        .editMenu{
            .copyIssueButton{
                display: none;
            }
        }

        #issuecard{
            .date{
                span{
                    &:first-child{
                        display: none;
                    }
                }
            }

            .summary{
                font-size: 156%;
                line-height: 1.6;
                padding: 16px 0px 10px;
            }

            .desc{
                h5.label{
                    display: none;
                }

                .loom{
                    margin-left: 1em;
                }
            }

            .attach{
                ul{
                    li{
                        font-size: 14px;
                        margin-bottom: 6px;
                    }
                }
            }
        }

        #parentChildIssueCard .childIssues .childIssuesTable{
            thead{
                th{
                    &:nth-last-child(3){
                        display: none;
                    }

                    &:nth-last-child(4){
                        display: none;
                    }
                }
            }

            tbody{
                tr{
                    &:hover{
                        .c_copy{
                            img{
                                visibility: visible;
                            }
                        }
                    }

                    td{
                        line-height: 1.7;
                        font-size: 13px;
                    }

                    .c_summary{
                        padding: 10px 0px 10px 10px;
                    }

                    .c_copy{
                        img{
                            visibility: hidden;
                        }
                    }

                    .c_assigner{
                        width: 18%;
                    }

                    .c_estimatedHours{
                        display: none;
                    }

                    .c_actualHours{
                        display: none;
                    }
                }
            }
        }

        #parentChildIssueCard{
            margin-top: 25px;

            #childIssuesMenu{
                margin: 0 0 7px;
            }
        }

        .comment-section{
            .comment-header{
                .comment-header-overview{
                    width: 91%;

                    .comment-user-name{
                        font-size: 14px;
                        vertical-align: -3px;
                    }
                }

                .created{
                    float: right;
                    margin-top: 6px;
                }
            }
        }

        .input{
            textarea{
                font-size: 14px;
                padding: 8px;
            }
        }

        .radio{
            font-size: 13px;

            > div{
                margin-bottom: 2px;
            }
        }
    }
}

.Page--find-issue{
    .cond .title{
        a#create-short-url{
            display: none;
        }
    }

    .findIssueSimpleTable{
        .lbl,
        .items{
            font-size: 13px;
        }
    }

    .pager{
        margin-top: 10px;

        td{
            text-align: center;

            a[data-bind^="text"]{
                border: 1px solid #ccc;
                padding: 5px 9px;
                display: inline-block;
                font-size: 13px;
            }

            .pager-prev{
                border: 1px solid #ccc;
                padding: 5px 7px;
                display: inline-block;
                font-size: 13px;
                margin-right: -7px;
            }

            .pager-next{
                border: 1px solid #ccc;
                padding: 5px 7px;
                display: inline-block;
                font-size: 13px;
                margin-left: -11px;
            }
        }
    }

    #resultBody{
        .view{
            th{
                &:first-child{
                    border-left: 1px solid #999;
                }
            }

            td{
                font-size: 100%;
                padding: 12px 5px;

                &.chevron{
                    border-left: 1px solid #ccc;
                }

                &.title{
                    padding: 12px 10px;
                }

                &.user{
                    text-align: center;
                }

                &.status{
                    text-align: center;

                    .issue-status-1,
                    .issue-status-2,
                    .issue-status-3,
                    .issue-status-4{
                        display: inline-block;
                    }
                }

                &.user{
                    img.user{
                        vertical-align: -4px;
                        margin-right: 6px;
                    }
                }

                .childIssueSummary{
                    right: 0;
                }
            }
        }
    }

    .pager{
        &:first-child{
            td:first-child{
                display: none;
            }

            .ico{
                display: block;

                .csvButton{
                    display: none;
                }

                .excelButton{
                    display: none;
                }

                .printButton{
                    display: none;
                }
            }
        }

        .ico{
            display: none;
        }
    }
}

#bodyRight{
    #wikipagelist{
        padding: 10px 14px;

        li{
            font-size: 13px;
            line-height: 1.7;
            margin-bottom: 4px;
            list-style: square inside;
            padding-left: 1em;
            text-indent: -1em;

            a{
                margin-left: -1em;
            }
        }
    }
}

.Page--view-wiki{
    #bodyLeft{
        #bodyLeftInner{
            position: relative;

            #mainTitle{
                font-size: 2.2em;
                padding-bottom: 10px;
                margin-bottom: 0.4em;

                .starBlock{
                    img{
                        vertical-align: -2px;
                    }
                }
            }

            .newWikiButton{
                position: absolute;
                right: 0;
                top: 0;
                color: #333;
                font-size: 12px;
                padding: 10px;
                background-image: url(../images/common/icons/ico_new.png), linear-gradient(#fcfcfc, #eee);
                border: 1px solid #d5d5d5;
                border-radius: 3px;

                &:before{
                    content: url(https://assets.backlog.jp/R20160517/images/common/icons/ico_new.png);
                    position: relative;
                    top: 4px;
                    margin-right: 6px;
                }

                &:hover{
                    background-image: linear-gradient(#eee, #ddd);
                    border-color: #ccc;

                    span{
                        text-decoration: none;
                    }
                }
            }

            .otherOperationsToggle{
                display: none;
            }

            .editer{
                display: none;
            }

            #wikicard{
                word-break: break-all;

                table{
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    overflow: auto;
                    border-collapse: collapse;
                    word-break: keep-all;
                    border: none !important;

                    th,
                    td{
                        border: 1px solid #bdba9d;
                    }
                }
            }
        }
    }
}

.Page--view-project{
    #activitiesPlaceholder{
        table{
            td{
                padding: 10px 5px;
            }
        }

        .updated{
            p:last-child{
                display: none;
            }
        }
    }

    #bodyLeft{
        #bodyLeftInner{
            .submenu{
                margin-bottom: 0.4rem;
                margin-top: 0.4rem
            }

            h4{
                display: none;
            }

            table{
                td{
                    padding: 12px 5px;

                    &.key a{
                        padding-top: 3px;
                    }

                    &.user{
                        padding-top: 7px;
                    }

                    &.desc{
                        width: 48%;
                    }
                }
            }
        }
    }

    #bodyRight{
        h4{
            &:last-of-type{
                display: none;
            }

            &:nth-last-of-type(1){
                display: none;
            }

            a.ical{
                display: none;
            }

            a.Help-btn{
                display: none;
            }
        }

        .right_content{
            &:nth-last-of-type(1){
                display: none;
            }
        }

        .user_content{
            display: none;
        }
    }
}

.loom{
    font-size: 116%;
    line-height: 1.6;

    h1{
        padding-bottom: 0.3em;
        font-size: 2em;
        line-height: 1.2;
        margin-bottom: 0.8em;
    }

    h2{
        font-size: 1.4em;
        line-height: 1.225;
    }

    pre.loom_code{
        line-height: 1.45;
        background-color: #f7f7f7;
        border-radius: 3px;
    }
}